.gradient-div-3{
    background-image: linear-gradient(to bottom, var(--bg-green-color), var(--navbar-color));
    padding: 100px;
    min-height: 150px;
}


.team{
    padding-top: 0;
    background-color: var(--bg-green-color);
    
    color: var(--text-color);
}

.team-content{
    gap: 4rem;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
}


.team-item img{
    padding: 20px;
    max-width: 200px;
    transition: var(--transition);

}

.team-item img:hover{
    transform: scale(1.1);
}

.team-item{
    
    color: var(--white-color);
}

.team-item p{
    
    margin:2.6rem 0 0.6rem 0
}

@media screen and ((min-width:768px)) {
    .team-content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and ((min-width:992px)) {
    .team-content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and ((min-width: 1200px)) {
    .team-content{
        grid-template-columns: repeat(4,1fr);
    }
}

.logo::before {
    content: "";
    position: absolute;
    top: -10px; /* Adjust padding size */
    left: -10px; /* Adjust padding size */
    right: -10px; /* Adjust padding size */
    bottom: -10px; /* Adjust padding size */
    background-color: white; /* Circle background color */
    border-radius: 50%;
    /* color: white; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* border: 10px solid black; */
    /* z-index: 1; */
}

.logo {
    position: relative;
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    /* background-size: contain; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* z-index: 1; */
    /* background-color: white; */
}