.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
    transition: var(--transition);
    padding-top: 12px;
    /* font-size: 18px; */
  }
  
.nav-item-text{
    color: var(--text-color);
    text-transform: uppercase;
    padding-right: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
}

.nav-item-text:hover{
    color: var(--navbar-color);
    transition: var(--transition);
    transform: scale(1.03);
}
  
  .navbar-brand{
    align-items: center;
    color: var(--text-color)
}

.navbar-brand span:first-child{
    display: inline-block;
    border: 3px solid var(--text-color);
    padding: 0 1.2rem!important;
    margin-right: 1rem;
    transition: var(--transition);
}

.navbar-brand span:last-child{
    transition: var(--transition);
}

.navbar-brand:hover span:first-child{
    background-color: var(--text-color);
    color: var(--bg-green-color);
}

.navbar-brand:hover span:last-child{
    color: var(--text-color);
}

  .navbar.light {
    background-color: var(--navbar-color);
    /* color: var(--text-color); */
  }
  
  .navbar.dark {
    background-color: var(--navbar-color);
    /* color: var(--text-color); */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* .navbar-logo img {
    height: 40px;
  } */
  
  .navbar-links a {
    margin-left: 1rem;
    /* text-decoration: none; */
    /* color: inherit; */
  }
  
  .theme-toggle {
    display: flex;
    align-items: center;
  }
  
  .theme-toggle label {
    margin-right: 0.5rem;
  }
  
  .menu-toggle {
    background: none;
    border: none;
    margin-right: 2rem;
    /* color: inherit; */
    color: var(--text-color);
    /* font-size: 1rem; */
    cursor: pointer;
  }
  
  .mobile-menu {
    position: fixed;
    top: 80px; /* Adjust based on your navbar height */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .mobile-menu a {
    margin: 1rem 0;
    /* font-size: 1.5rem; */
    text-decoration: none;
    color: inherit;
  }
  
  @media (max-width: 767px) {

    .nav-item-text:hover{
        color: var(--navbar-color);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--text-color);
        transition: var(--transition);
        transform:scale(1.03);
    }
    .navbar-links {
      display: none;
    }
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid var(--text-color);
    transform: scale(0.75);
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 1px;
    background-color: var(--navbar-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    
    /* background-color: var(--white-color); */
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
