.banner {
    background-color: var(--white-color);
    color: var(--medium-color);
    flex-direction: column;
}

.banner-box{
    position: "relative";
    width: 500px;
    height: 280px;
    margin: 0 auto;
}


.slide {
    width: 100%;
    height: 100%;
    
    background-position: 10px;
    background-position: "center";
    background-size: "cover";
}

.right-arrow{
    position: "absolute";
    top: "50%";
    transform: translate(0,-50%);
    right: 32px;
    color: var(--dark-color);
    z-index: 1;
    cursor: "pointer";
}

.left-arrow{
    position: "absolute";
    top: "50%";
    transform: translate(0,-50%);
    left: 32px;
    color: var(--dark-color);
    z-index: 1;
    cursor: "pointer";
}

.dots-container{
    display: flex;
    justify-content: center;
}

.dots{
    margin: 0 3px;
    cursor: pointer;
}